.portada {
  background-image: url("../image/imagen\ pac\ 2.jfif");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contenedor {
  color: white;
  text-align: center;
  z-index: 2;
  margin: 200px auto;
}

.titulo {
  color: #6ede00;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  text-shadow: 4px 4px 10px rgba(26, 15, 15, 0.8), -4px -4px 10px rgba(18, 10, 10, 0.8);
}

.subtitulo {
  margin-top: 80px;
  text-decoration: solid;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 500;
  font-style: italic;
  text-shadow: 2px 2px 6px rgba(50, 50, 50, 0.5);
}
